.wow
	visibility hidden
.fadeInUp
	animation-name fadeInUp
	animation-duration 1s
	animation-fill-mode both
.break-lines
	position relative
	padding 0 3px
	opacity 0
	animation-name break-lines
	animation-duration 1s
	animation-fill-mode both
	will-change transform, opacity
	gpu()
	&__inner
		gpu()
		will-change transform, opacity
@keyframes fadeInUp
	0%
		opacity 0
		transform translateY(20px)
	100%
		opacity 1
		transform translateY(0)
@keyframes break-lines
	0%
		transition all 2s ease
		transform translateX(50%) translateZ(0)
		will-change transform, opacity
	90%
		transition all 2s ease
		transform translateX(-1%) translateZ(0)
		will-change transform, opacity
	100%
		opacity 1
		transform translateX(0) translateZ(0)
		transition all 1s ease
		will-change transform, opacity
