mixin form()
	.form&attributes(attributes)
		.form
			form(action="", method="post")
				.form__row
					.form__field.form__field_text
						input.form__input(type="text", value="", placeholder="Ваше Имя")
					.form__field.form__field_text
						input.form__input(type="text", value="", placeholder="Ваше Имя")
					.form__field.form__field_submit
						button.form__submit.button.button_primary.button_submit(type="submit", value="оставить заявку") оставить заявку
