.form
	&__row
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
	.form__field
		width 380px
		+r($m)
			margin-bottom 20px
			width 100%
		&:first-child
			margin-left 0
		&:last-child
			+r($m)
				margin-bottom 0
		label
			display none

	.form__field_submit
		width 340px
		.ajax-loader
			display none
	&__input
		padding-left 30px
		border none
		width 100%
		height 70px
		background #ffffff
		color #888888
		font-size 20px
		font-weight bold
		+r($m)
			height 55px
			font-size 16px
			font-weight normal
			+placeholder()
				color #888888

		&.error
			border 2px solid red
		&.valid
			border 2px solid green

	&__submit
		width 100%
		height 70px
		background-color #52bbd8
		color #ffffff
		font-size 20px
		font-weight bold
		text-transform uppercase
		border 1px solid #ffffff
		tr(all .3s ease)
		+r($m)
			height 55px
			font-size 16px
		&:hover
			background-color #43a6c1
		&:active
			background-color #43a6c1
			box-shadow inset 0 3px 7px rgba(0, 0, 0, 0.13)

	div.wpcf7-response-output
		margin-top 15px
		margin-left 0
		margin-right 0
		margin-bottom 15px
