mixin form()
	.form&attributes(attributes)
		form(action="", method="post")
			.form__row
				.form__field
					input.form__input(type="text", value="", placeholder="Ваше имя")
				.form__field
					input.form__input(type="text", value="", placeholder="Ваш телефон")
				.form__field.form__field_submit
					input.form__submit(type="submit", value="Оставить заявку")
