mixin courses()
	.courses&attributes(attributes)
		.courses__in.container
			.courses__row.row
				.col-md-6
					.courses__course.course
						.course__top(style='background-image: url("assets/images/content/insider.jpg")')
							h2.course__title Hurma Insider
							ul.course__info
								li.course__info-item 5 дней
									//- span.course__info-sep /
								li.course__info-item 30 часов теории
								li.course__info-item Ежедневная практика
						.course__body
							.course__text
								p Курс основы управления для руководителей всех продразделений ресторана

							.course__desc
								p Каждый день теория, а после практика в одном из баров сети «Дорогая, я перезвоню...»,  «Meat Puppets bar & meatarea» и «StandUp Store Moscow» + «Specials» в виде встречь с известными рестораторами Москвы, а так же походы по интересным барам и ресторанам столицы

				.col-md-6
					.courses__course.course
						.course__top(style='background-image: url("assets/images/content/insider-pro.jpg")')
							h2.course__title Hurma Insider Pro
							ul.course__info
								li.course__info-item 4 дня
								li.course__info-item 25 часов теории
								li.course__info-item 4 Специальных ужина
						.course__body
							.course__text
								p Курс для опытных управленцев и владельцев, которые хотят усовершенствовать систему работы своих предприятий и достигнуть новых результатов.

							.course__desc
								p Каждый день теория, а после ужин в одном из популярных мест Москвы вместе с владельцем / директором или шефом этого ресторана


