mixin problems()
	section.problems&attributes(attributes)
		.problems__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.problems__row.row
				.problems__col.col-md-6
					h2.problems__title
						.break-lines__line.wow.break-lines(data-wow-duration='1.5s'  data-wow-delay='1s')
							.break-lines__inner Задачи которые вы решите
					.problems__text
						p В ходе курса мы изучим все самые важные аспекты управления рестораном, от которых зависит его прибыль, лояльность и стабильно хорошая работа
				.problems__col.col-md-6
					.problems__image
						img(src="assets/images/content/problems.jpg", alt="")
