.problems
	&__in
		padding-top 40px
		padding-bottom 88px

	// &__row

	&__title
		margin-top 122px
		margin-bottom 6px
		@extends .title-h1
	&__text
		font-size 20px
		line-height 1.4
	// &__image
	// 	img
