mixin process()
	section.process&attributes(attributes)
		.process__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.process__row.row
				h2.process__title.wow.break-lines(data-wow-duration='1.5s'  data-wow-delay='1s')
					.break-lines__inner Фото процесса обучения
				.process__text
					p Каждое обучение — это не просто поток информации, но и массы положительных эмоций, полезных знакомств и уникальных возможностей!
				ul.process__photos
					li.process__photo
						a.process__photo-link(href="#")
							img(src="assets/images/content/process-img-1.jpg", alt="")
					li.process__photo
						a.process__photo-link(href="#")
							img(src="assets/images/content/process-img-2.jpg", alt="")
					li.process__photo
						a.process__photo-link(href="#")
							img(src="assets/images/content/process-img-3.jpg", alt="")
					li.process__photo
						a.process__photo-link(href="#")
							img(src="assets/images/content/process-img-4.jpg", alt="")

				.process__more-w
					a.process__more.button.button_additional.button_additional-big(href="#" data-text="смотреть ещё")
						span смотреть ещё
