.process
	display block
	&__in
		padding-top 100px
		padding-bottom 52px
	&__row
		margin-left 0
		margin-right 0

	&__title
		margin-bottom 20px
		@extends .title-h1
	&__text
		margin-bottom 50px
		max-width 860px
		font-size 20px
		line-height 1.4
	&__photos
		margin-bottom 27px
		display flex
		flex-flow row wrap
		justify-content space-between
	&__photo
		width 267px
		height 267px
	&__photo-link
		display block
		text-decoration none
	&__more-w
		text-align center

	&__more
		margin-left -17px
		font-size 16px

