mixin advantages()
	.advantages&attributes(attributes)
		.advantages__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.advantages__row.row
				ul.advantages__list
					li.advantages__item.advantages__item_1
						.advantages__icon
						h2.advantages__title Теория
						.advantages__text
							p Дадим только те знания, которые реально работают в наших ресторанах и барах, приносят деньги и проверены нашим личным опытом
					li.advantages__item.advantages__item_2
						.advantages__icon
						h2.advantages__title Практика
						.advantages__text
							p Покажем, как работают все инструменты в наших заведениях
					li.advantages__item.advantages__item_3
						.advantages__icon
						h2.advantages__title Инструменты
						.advantages__text
							p Подарим вам все материалы и инструкции, чтобы вы не тратили время на их разработку




mixin advantages-insider()
	.advantages&attributes(attributes)
		.advantages__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.advantages__row.row
				h2.advantages__title.wow.break-lines(data-wow-duration='1.5s'  data-wow-delay='1s')
					.break-lines__inner Этот курс для Вас, если:
				ul.advantages__list
					li.advantages__item.advantages__item_1
						.advantages__icon
						.advantages__text
							p Вы хотите получить все основные знания по управлению рестораном

					li.advantages__item.advantages__item_2
						.advantages__icon
						.advantages__text
							p Вы хотите начать свое дело и избежать типичных ошибок, из-за которых закрывается большинство стартапов

					li.advantages__item.advantages__item_3
						.advantages__icon
						.advantages__text
							p Вы недавно открыли свое заведение и недовольны его результатом

					li.advantages__item.advantages__item_4
						.advantages__icon
						.advantages__text
							p Хотите прокачать себя и свою команду


mixin advantages-insider-pro()
	.advantages&attributes(attributes)
		.advantages__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.advantages__row.row
				h2.advantages__title.wow.break-lines(data-wow-duration='1.5s'  data-wow-delay='1s')
					.break-lines__inner Этот курс для Вас, если:
				ul.advantages__list
					li.advantages__item.advantages__item_1
						.advantages__icon
						.advantages__text
							p Вы хотите посмотреть на бизнес глазами владельца

					li.advantages__item.advantages__item_2
						.advantages__icon
						.advantages__text
							p Хотите масштабировать бизнес и создать Управляющую Компанию

					li.advantages__item.advantages__item_3
						.advantages__icon
						.advantages__text
							p Вы хотите получить вдохновение и силы для нового витка развития

