mixin advantages()
	.advantages&attributes(attributes)
		.advantages
			.advantages__in.container
				.advantages__row.row
					ul.advantages__list
						li.advantages__item.advantages__item_1
							.advantages__icon
							h2.advantages__title Теория
							.advantages__text
								p Дадим только те знания, которые реально работают в наших ресторанах и барах, приносят деньги и проверены нашим личным опытом
						li.advantages__item.advantages__item_2
							.advantages__icon
							h2.advantages__title Практика
							.advantages__text
								p Покажем, как работают все инструменты в наших заведениях
						li.advantages__item.advantages__item_3
							.advantages__icon
							h2.advantages__title Инструменты
							.advantages__text
								p Подарим вам все материалы и инструкции, чтобы вы не тратили время на их разработку
