.advantages
	overflow hidden
	&_second
		overflow hidden
		.advantages__in
			padding-top 104px
			padding-bottom 56px
			+r($tL)
				padding-top 17px
				padding-bottom 30px
		.advantages__title
			@extends .title-h1
			margin-bottom 92px
			letter-spacing tracking(-30)
			+r($tL)
				margin-bottom 62px
		.advantages__list
			min-height 120px
			justify-content space-between
			+r($tL)
				justify-content space-around
		.advantages__item
			padding-right 18px
			padding-bottom 37px
			padding-left 18px
			width ratio-percentage(250, 1140)
			height auto
			+r($tL)
				margin-bottom 65px
				width 260px
		.advantages__item_1
			.advantages__icon
				&:after
					retinaSprite($brain_icon_group)
		.advantages__item_2
			.advantages__icon
				&:after
					retinaSprite($market_icon_group)
		.advantages__item_4
			.advantages__icon
				&:after
					retinaSprite($team_icon_group)
		.advantages__icon
			margin-top -41px
			margin-bottom 16px
	&_third
		.advantages__in
			padding-top 112px
			padding-bottom 56px
			+r($tL)
				padding-top 17px
				padding-bottom 30px
		.advantages__title
			@extends .title-h1
			margin-bottom 92px
			+r($tL)
				margin-bottom 62px
		.advantages__list
			justify-content center
			min-height 150px
			+r($tL)
				justify-content space-around
		.advantages__item
			padding-right 40px
			padding-bottom 25px
			padding-left 40px
			width 307px
			height auto
			+r($tL)
				margin-bottom 65px
		.advantages__item_1
			.advantages__icon
				&:after
					retinaSprite($owner_icon_group)
					transform translate( calc(-50% + 2px), calc(-50%) )
		.advantages__item_2
			.advantages__icon
				&:after
					retinaSprite($scale_icon_group)
		.advantages__item_3
			.advantages__icon
				&:after
					retinaSprite($start_icon_group)
		.advantages__icon
			margin-bottom 20px
	&__in
		padding-top 70px
		padding-bottom 70px
		+r($tL)
			padding-top 0
	&__row
		+r($tL)
			margin-left 0
			margin-right 0
	&__list
		margin-bottom 0
		min-height 200px
		display flex
		flex-flow row wrap
		justify-content center
		+r($d)
			display flex
			justify-content space-between
		+r($t)
			justify-content center
	&__item
		margin-right 42px
		width 307px
		height 66px
		background-color #ffffff
		color #000000
		text-align center
		box-shadow 0 0 32px rgba(0, 0, 0, 0.11)
		+r($d)
			margin-right 0
			margin-bottom 137px
			width 31%
		+r($t)
			width 95%
		+r($m)
			margin-bottom 179px
		&:last-child
			margin-right 0
			margin-bottom 0
	&__item_1
		.advantages__icon
			&:after
				retinaSprite($theory_icon_group)
	&__item_2
		.advantages__icon
			&:after
				retinaSprite($practice_icon_group)
	&__item_3
		.advantages__icon
			&:after
				retinaSprite($tools_icon_group)
	&__icon
		position relative
		margin auto
		margin-top -36px
		width 72px
		height 72px
		border-radius 36px
		background-color #dc324d
		&:after
			position absolute
			top 50%
			left 50%
			content ''
			transform translate(-50%, -50%)
	&__title
		margin-top 0
		margin-bottom 0
		font-family $s
		font-size 36px
		line-height 1.527
		text-transform uppercase
		+r($m)
			font-size 32px
	&__text
		font-size 16px
		line-height 1.5
		p
			margin-bottom 0

