mixin advantages()
	section.advantages&attributes(attributes)
		.advantages__container
			h2.advantages__title Другие преимущества локальной интернет-рекламы
			ul.advantages__list
				li.advantages__item
					.advantages__icon
						img(src="assets/images/content/advantages-1.png", alt="")
					.advantages__item-title Быстрый запуск
					.advantages__item-text Подготовка и запуск рекламны занимает <br/> 1 – 2 дня.
				li.advantages__item
					.advantages__icon
						img(src="assets/images/content/advantages-2.png", alt="")
					.advantages__item-title Доступная цена
					.advantages__item-text Рекламная кампания обойдется Вам дешевле, чем большинство других видов продвижения.
				li.advantages__item
					.advantages__icon
						img(src="assets/images/content/advantages-3.png", alt="")
					.advantages__item-title Информативность
					.advantages__item-text На страницах сайта или соцсети, которую увидит Ваша аудитория, можно разместить гораздо больше информации о предложении, чем в листовке или наружной рекламе.
				li.advantages__item
					.advantages__icon
						img(src="assets/images/content/advantages-4.png", alt="")
					.advantages__item-title Широкий и точный охват
					.advantages__item-text Ваше предложение увидят не «все подряд», а только люди, строго соответствующие критериям целевой аудитории.
