mixin course-insider()
	.course&attributes(attributes)
		.course__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.course__w(data-title='hurma insider pro')
				h1.course__title.wow.break-lines(data-wow-duration='1.5s'  data-wow-delay='1s')
					.break-lines__inner Hurma insider
				.course__text
					p Курс основам управления для руководителей всех продразделений ресторана
				ul.course__info
					li.course__info-item 5 дней
					li.course__info-item 30 часов теории
					li.course__info-item Ежедневная практика


mixin course-insider-pro()
	.course&attributes(attributes)
		.course__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.course__w(data-title='hurma insider pro')
				h1.course__title.wow.break-lines(data-wow-duration='1.5s'  data-wow-delay='1s')
					.break-lines__inner Hurma insider pro
				.course__text
					p Курс для опытных управленцев и владельцев, которые хотят усовершенствовать систему работы своих предприятий и достигнуть новых результатов.
				ul.course__info
					li.course__info-item 4 дня
					li.course__info-item 25 часов теории
					li.course__info-item 4 Специальных ужина
