.course
	position relative
	min-height 470px
	background-color #ffffff
	color #FFF
	box-shadow 0 0 32px rgba(0, 0, 0, 0.11)
	+r($tL)
		margin-bottom 32px
		min-height auto
	&_insider,
	&_insider-pro
		min-height 412px
		box-shadow none
		background none
		overflow hidden
		.course__in
			+r($tL)
				min-height 412px
		.course__w
			+r($tL)
				padding-left 15px
				padding-right 15px
				transform translateY( calc(-50% + 17px) )
		.course__title
			margin-bottom 20px
			@extends .title-h1
			color #FFF
			line-height 1.1
			text-transform uppercase
			letter-spacing tracking(-40)
		.course__text
			margin-bottom 20px
			font-size 16px
			color #FFF
		.course__info-item
			font-size 20px
			+r($tL)
				margin-right 8px
				padding-right 16px
				font-size 18px
			&:before
				font-size 24px
				transform translateY( calc(-50% - 4px) )
	&__in
		position relative
		min-height 412px
	&__w
		position absolute
		z-index 1
		top 50%
		left 0
		max-width 640px
		transform translateY( calc(-50% - 7px) )
		&:after
			position absolute
			z-index -1
			top -30px
			left 0
			content attr(data-title)
			font-family $rEb
			font-size 114px
			white-space nowrap
			line-height 1
			color rgba(255,255,255, .05)
			text-transform uppercase
			gpu()

	&__top
		padding-top 60px
		padding-right 68px
		padding-bottom 36px
		padding-left 68px
		background-size cover
		+r($tL)
			padding-top 52px
			padding-right 30px
			padding-left 30px
	&__title
		margin-top 0
		margin-bottom 10px
		font-family $rEb
		font-size 42px
		gpu()
		+r($m)
			font-size 28px

	&__info
		margin-bottom 0
		font-size 0
	&__info-item
		position relative
		margin-right 11px
		padding-right 26px
		display inline-block
		vertical-align middle
		font-family $s
		font-size 18px
		line-height 1.8
		text-transform uppercase
		+r($m)
			font-size 16px
			line-height 2
		&:last-child
			&:before
				display none

		&:before
			position absolute
			z-index 1
			top 50%
			right 0
			width 12px
			height 16px
			color #FFF
			font-size 18px
			font-family $s
			font-weight normal
			text-transform uppercase
			line-height 1
			opacity .3
			transform translateY( calc(-50% - 1px) )
			content '/'

	&__body
		padding-top 40px
		padding-right 40px
		padding-bottom 45px
		padding-left 68px
		+r($m)
			padding-top 30px
			padding-left 23px
			padding-right 23px
			padding-bottom 34px
	&__text
		margin-bottom 18px
		color #333
		p
			margin-bottom 0
	&__desc
		color #E77183
		font-size 13px
		p
			margin-bottom 0

