mixin hero()
	section.hero
		.hero__container
			h1.hero__title.title Локальная интернет реклама
			.hero__text Простой способ донести информацию до жителей ближайших домов и людей, бывающих рядом.
			//- .hero__w

			.hero__image
				img(src="assets/images/general/hero-img.png", alt="hero image")
				.hero__icons
					.hero__badge.hero__badge_left
						.hero__badge-text sale
					.hero__badge.hero__badge_right
						.hero__badge-text -25%
					.hero__icon.hero__icon_market
					.hero__icon.hero__icon_gym
					.hero__icon.hero__icon_car-repair
					.hero__icon.hero__icon_coffee
					.hero__pointer.hero__pointer_market
					.hero__pointer.hero__pointer_gym
					.hero__pointer.hero__pointer_car-repair
					.hero__pointer.hero__pointer_coffee

