.hero
	display block
	background #fff url('../images/general/hero-bg.jpg') 50% 0 no-repeat
	&__in
		position relative
		// padding-top 110px
		// padding-bottom 150px
		min-height 750px
		display flex
		flex-flow row wrap
		align-items center
		color #000
	&__row
		clr()

	&__col
		float left

	&__col_first
		width 590px
	&__col_second
		padding-left 48px
		width 458px
	&__title
		position relative
		z-index 1
		margin-top 0
		margin-bottom 16px
		font-family $s
		font-size 50px
		line-height 1.1
		text-transform uppercase
		overflow hidden
		&:after
			position absolute
			z-index -1
			bottom -10px
			left -9px
			color #E5E5E5
			font-family $rEb
			font-size 147px
			line-height 1
			text-transform uppercase
			white-space nowrap
			content attr(data-title)
	&__unique
		display block
		font-family $n
		font-size 49px
		line-height 1
		text-transform none
	&__text
		position relative
		margin-bottom 30px
		padding-right 190px
		padding-bottom 23px
		color #333333
		font-size 20px
		line-height 1.4
		&:after
			position absolute
			top 100%
			left 0
			width 68px
			height 4px
			background-color #f20048
			content ''
		p
			margin-bottom 0

	&__buttons
		font-size 0
		clr()

	&__video
		position relative
		top -15px
		padding-top 245px
		width 358px
		height 358px
		background url('../images/general/hero-player-bg.jpg') 0 0 / cover no-repeat
		color #FFF
		text-align center
		border-radius 50%
	&__video-button
		position absolute
		top 50%
		left 50%
		border none
		width 105px
		height 105px
		box-shadow 0 0 27px rgba(0, 0, 0, 0.28)
		background-color #ffffff
		border-radius 50%
		hide-text()
		transform translate(-50%, -50%)
		&:after,
		&:before
			position absolute
			top 50%
			left 50%
			width 0
			height 0
			border-style solid
			border-width 15.5px 0 15.5px 18px
			border-color transparent transparent transparent #000000
			content ""
			transform translate(calc(-50% + 1px), -50%)

	&__video-text
			padding-left 120px
			padding-right 120px
			font-size 16px
			line-height 1.125

	&__down
		position absolute
		bottom 50px
		left 0
		outline none
		border none
		padding-left 28px
		background none
		&:after
			position absolute
			top 50%
			left 0
			retinaSprite($down_button_group)
			content ''
			transform translateY(-50%)
