.map
	position relative
	padding-top 35.1041666666667%
	min-height 400px
	overflow hidden
	+r(1230px)
		padding-top 0
	+r($m)
		padding-top 0
	&__object
		position absolute
		top 0
		bottom 0
		left 0
		right 0

.ymaps-2-1-60-image
	+r($m)
		width 90px
		height 113px
