mixin popup()
	.popup&attributes(attributes)
		.popup__col
			.popup__image
				img(src="assets/images/content/popup-img.png", alt="")

		.popup__col_wide
			.popup__title Дмитрий Левицкий
			.popup__text
				p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)
