mixin popup()
	.popup&attributes(attributes)
		.popup__top
			button.popup__close(type="button") Закрыть
		.popup__body
			.popup__text Спасибо, ваше сообщение отправлено.<br/>В ближайшее время с вами свяжется наш специалист.
