.participation
	position relative
	z-index 1
	overflow hidden
	&__in
		padding-top 90px
		padding-bottom 18px
	&__cols
		margin-bottom 22px
		display flex
		align-items stretch

	&__title
		margin-bottom 54px
		@extends .title-h1
		color #000
	&__item
		position relative
		margin-left -15px
		min-height 100%
		background-color #ffffff
		color #FFF
		box-shadow 0 0 32px rgba(0, 0, 0, 0.11)
		&:last-child
			margin-right 15px
	&__top
		min-height 216px
		background-size cover

	&__item-title
		margin-top 0
		margin-bottom 17px
		color #000
		font-family $rEb
		font-size 42px

	&__body
		padding-top 30px
		padding-right 68px
		padding-bottom 42px
		padding-left 68px

	&__text
		margin-bottom 18px
		min-height 64px
		color #333
		p
			margin-bottom 0

	&__price
		margin-bottom 30px
		color #000
		font-family $rSb
		font-size 36px
		line-height 1


	&__note
		margin-left -15px
		margin-right 0
		color #E35B71
		font-size 20px
		line-height 1.4

