mixin participation()
	.participation&attributes(attributes)
		.participation__in.container.wow.fadeInUp(data-wow-duration='1.5s')
			.participation__row.row
				h2.participation__title.wow.break-lines(data-wow-duration='1.5s'  data-wow-delay='1s')
					.break-lines__inner Варианты участия

			.participation__cols.row
				.col-md-6
					.participation__item
						.participation__top(style='background-image: url("assets/images/content/participation-single.jpg")')
						.participation__body
							h2.participation__item-title Еду один
							.participation__text
								p Обучение по стандартной программе курса в общей группе с коллегами из других заведений

							.participation__price 77 000 -

							a.participation__button.button.button_primary(href="#" data-text="записаться на курс") записаться на курс

				.col-md-6
					.participation__item
						.participation__top(style='background-image: url("assets/images/content/participation-team.jpg")')
						.participation__body
							h2.participation__item-title Едем командой
							.participation__text
								p Приезжая всем управленческим составом вы увеличиваете шансы на проведение эффективных преобразований в своем бизнесе. Проверено опытом

							.participation__price Командой дешевле

							a.participation__button.button.button_primary(href="#" data-text="записаться на курс") записаться на курс

			.participation__note
				p Оплатить участие можно наличными, безналом или онлайн — картой и электронными деньгами. По всем вопросам звоните +7 967 696-99-20 или пишите chegonado@vsyahurma.ru
