mixin schedule()
	section.schedule&attributes(attributes)
		.schedule__in.container
			.schedule__row.row
				h2.schedule__title Расписание занятий

				.schedule__calendar

					.schedule__calendar-nav
						a.schedule__calendar-back(href="#") Назад
						.schedule__calendar-month Август 2017
						a.schedule__calendar-next(href='#') Вперед

					table.schedule__calendar-table
						thead
							tr
								th(title='Sunday', data-day-abbr='Sun') Понедельник
								th(title='Monday', data-day-abbr='Mon') вторник
								th(title='Tuesday', data-day-abbr='Tue') среда
								th(title='Wednesday', data-day-abbr='Wed') четверг
								th(title='Thursday', data-day-abbr='Thu') пятница
								th(title='Friday', data-day-abbr='Fri') суббота
								th(title='Saturday', data-day-abbr='Sat') воскресенье
						tbody
							tr
								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 31
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 1
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 2
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 3
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 4
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 5
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 6
									// Events List

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 7
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 8
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 9
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 10
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 11
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 12
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 13
									// Events List

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 14
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 15
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 16
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 17
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 18
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 19
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 20
									// Events List

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 21
										// Events List
										.schedule__calendar-event Hurma insider

								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 22
										// Events List
										.schedule__calendar-event Hurma insider

								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 23
										// Events List
										.schedule__calendar-event Hurma insider

								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 24
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 25
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 26
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 27
									// Events List

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 28
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 29
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 30
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 31
									// Events List

								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 1
									// Events List
								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 2
									// Events List
								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 3
									// Events List


mixin schedule-insider-pro()
	section.schedule&attributes(attributes)
		.schedule__in.container
			.schedule__row.row
				h2.schedule__title Расписание занятий

				.schedule__calendar

					.schedule__calendar-nav
						a.schedule__calendar-back(href="#") Назад
						.schedule__calendar-month Август 2017
						a.schedule__calendar-next(href='#') Вперед

					table.schedule__calendar-table
						thead
							tr
								th(title='Sunday', data-day-abbr='Sun') Понедельник
								th(title='Monday', data-day-abbr='Mon') вторник
								th(title='Tuesday', data-day-abbr='Tue') среда
								th(title='Wednesday', data-day-abbr='Wed') четверг
								th(title='Thursday', data-day-abbr='Thu') пятница
								th(title='Friday', data-day-abbr='Fri') суббота
								th(title='Saturday', data-day-abbr='Sat') воскресенье
						tbody
							tr
								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 31
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 1
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 2
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 3
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 4
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 5
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 6
									// Events List

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 7
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 8
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 9
										// Events List
										.schedule__calendar-event Hurma insider PRO
								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 10
										// Events List
										.schedule__calendar-event Hurma insider PRO
								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 11
										// Events List
										.schedule__calendar-event Hurma insider PRO
								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 12
										// Events List
										.schedule__calendar-event Hurma insider PRO
								td.schedule__calendar-thismonth
									.schedule__calendar-event-w
										.schedule__calendar-day
											| 13
										// Events List
										.schedule__calendar-event Hurma insider PRO

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 14
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 15
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 16
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 17
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 18
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 19
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 20
									// Events List

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 21
									// Events List

								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 22
									// Events List

								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 23
									// Events List

								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 24
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 25
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 26
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 27
									// Events List

							tr
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 28
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 29
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 30
									// Events List
								td.schedule__calendar-thismonth
									.schedule__calendar-day
										| 31
									// Events List

								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 1
									// Events List
								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 2
									// Events List
								td.schedule__calendar-othermonth
									.schedule__calendar-day
										| 3
									// Events List
