mixin what()
	section.what&attributes(attributes)
		.what__container
			.what__w
				h2.what__title Какие задачи вы сможете решить
				ul.what__list
					li.what__item Увеличение выручки в конкретной торговой точке
					li.what__item Информирование людей об открытии нового магазина
					li.what__item Привлечение внимания жителей района к рекламным акциям
					li.what__item Продвижение отдельных услуг и товарных групп
					li.what__item Повышение посещаемости заведения
