mixin teachers()
	section.teachers&attributes(attributes)
		.teachers__in.container
			.teachers__row.row
				h2.teachers__title Преподаватели
				ul.teachers__slider
					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)

						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)
						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)
						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)
						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

				.teachers__controls
					.teachers__nav
					.teachers__count


mixin teachers-second()
	section.teachers&attributes(attributes)
		.teachers__in.container
			.teachers__row.row.tabs
				.teachers__tabs-nav
					ul.tabs__nav.service__tabs-nav
						li.tabs__item.tabs__item_active
							a.tabs__link(href="#tab-1") Hurma Insider
						li.tabs__item
							a.tabs__link(href="#tab-2") Hurma Insider PRO

				#tab-1.tabs__tab.tabs__tab_active

					ul.teachers__list
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее

						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее

						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее

						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее

						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее

				#tab-2.tabs__tab

					ul.teachers__list
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее
						li.teachers__teacher.teacher
							.teacher__image
								img(src="assets/images/content/teacher-img-1.png", alt="")
							.teacher__title Дмитрий Левицкий
							a.teacher__more(href="#") Подробнее




