mixin teachers()
	section.teachers&attributes(attributes)
		.teachers__in.container
			.teachers__row.row
				h2.teachers__title Преподаватели
				ul.teachers__slider
					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)

						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)
						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)
						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

					li.teachers__slide.teacher
						.teachers__col.teachers__col_wide
							h3.teacher__title Дмитрий Левицкий
							.teacher__text
								p Генеральный Директор компании Hurma Managment Group, управляющий 4-мя ресторанами в Москве. Совладелец 4-х ресторанов. Начал карьеру в ресторанном бизнесе в 1998 году с позиции бармена в международной ресторанной компании. С 2002 года занимается консультированием в сфере розничной торговли и ресторанного бизнеса. Автор и ведущий еженедельной программы «Рестораторы» на радиостанции Финам.fm (99,6 в Москве)
						.teachers__col
							.teachers__image
								img(src="assets/images/content/teacher-img-1.png", alt="")

				.teachers__controls
					.teachers__nav
					.teachers__count
