mixin faq()
	section.faq&attributes(attributes)
		.faq__container
			h2.faq__title Частые вопросы
			dl.faq__list
				dt.faq__term.faq__term_active Что делать, если у моего магазина нет сайта?
				dd.faq__desc.faq__desc_active Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории. Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории.

				dt.faq__term Что делать, если у моего магазина нет сайта?
				dd.faq__desc Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории. Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории.

				dt.faq__term Сколько стоит полное продвижение магазина в моем городе?
				dd.faq__desc Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории. Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории.

				dt.faq__term Сколько длиться рекламная кампания?
				dd.faq__desc Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории. Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории.
