@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/hinted-subset-Raleway-SemiBold.woff2') format('woff2'),
      url('../fonts/hinted-subset-Raleway-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/hinted-subset-Raleway-ExtraBold.woff2') format('woff2'),
      url('../fonts/hinted-subset-Raleway-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/hinted-subset-Raleway-Bold.woff2') format('woff2'),
      url('../fonts/hinted-subset-Raleway-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Supermolot-Black';
  src: url('../fonts/hinted-subset-Supermolot-Black.woff2') format('woff2'),
      url('../fonts/hinted-subset-Supermolot-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/hinted-subset-Raleway-Regular.woff2') format('woff2'),
      url('../fonts/hinted-subset-Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noteworthy-Bold';
  src: url('../fonts/hinted-subset-Noteworthy-Bold.woff2') format('woff2'),
      url('../fonts/hinted-subset-Noteworthy-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




$rR  = 'Raleway-Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$rB  = 'Raleway-Bold', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$rSb = 'Raleway-SemiBold', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$rEb = 'Raleway-ExtraBold', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$s   = 'Supermolot-Black', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$n   = 'Noteworthy-Bold', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
