.main
	overflow hidden
	&__in
		padding-top 130px
		+r($tL)
			padding-top 40px
		+r($t)
			padding-top 10px
		+r($m)
			padding-top 30px
	&__row
		+r($tL)
			margin-left 0
			margin-right 0
	&__title
		position relative
		margin-bottom 92px
		@extends .title-h1
		color #FFF
		gpu()
		+r($tL)
			margin-bottom 60px
		+r($t)
			margin-bottom 60px
		+r($m)
			margin-bottom 60px
		+r($mS)
			margin-bottom 30px
		&:after
			position absolute
			z-index -1
			top -30px
			left 0
			content attr(data-title)
			font-family $rEb
			font-size 147px
			white-space nowrap
			line-height 1
			color rgba(255,255,255, .1)
			text-transform uppercase
	&__title_invert
		color #000
