extends /blocks/layout-default/layout-default


include /blocks/preload/preload
include /blocks/header/header
include /blocks/hero/hero
include /blocks/courses/courses
include /blocks/advantages/advantages
include /blocks/problems/problems
include /blocks/complete/complete
include /blocks/teachers/teachers
include /blocks/graduates/graduates
include /blocks/video-reviews/video-reviews
include /blocks/process/process



include /blocks/footer/footer


block head
	- var pageTitle = 'Hurma insider - теория и практика ресторанного дела';

block content
	+preload()
	+header()
	+hero()
	+courses()
	+advantages()
	+problems()
	+complete()
	+teachers()
	+graduates()
	+video-reviews()
	+process()

	+footer()

