extends /blocks/layout-default/layout-insider-pro

include /blocks/header/header
include /blocks/hero/hero
include /blocks/courses/courses
include /blocks/course/course
include /blocks/advantages/advantages
include /blocks/problems/problems
include /blocks/programm/programm
include /blocks/complete/complete
include /blocks/participation/participation
include /blocks/schedule/schedule
include /blocks/map/map
include /blocks/questions/questions


include /blocks/teachers/teachers
include /blocks/graduates/graduates
include /blocks/video-reviews/video-reviews
include /blocks/process/process



include /blocks/footer/footer


block head
	- var pageTitle = 'Hurma insider - Курс для опытных управленцев и владельцев, которые хотят усовершенствовать систему работы своих предприятий и достигнуть новых результатов.';

block content
	+header-inner()
	+course-insider-pro().course_insider-pro
	+advantages-insider-pro().advantages_third
	+programm-insider-pro().programm_second
	//- +problems()
	+complete()
	//- +participation()
	+schedule-insider-pro().schedule_second

	+map()
	+questions()

	//- +courses()
	//- +problems()
	//- +complete()
	//- +teachers()
	//- +graduates()
	//- +video-reviews()
	//- +process()

	+footer()
