mixin video-reviews()
	.video-reviews&attributes(attributes)
		.video-reviews__in.container
			.video-reviews__row.row
				.video-reviews__col.col-md-4
					.video-reviews__button.video-button Воспроизвести
					.video-reviews__text Посмотрите короткие видео-отзывы участников наших курсов
