mixin header()
	header.header
		.header__container
			.header__w
				a.header__logo.logo(href="#top") Диаграмма интернет-агенство
				nav.header__nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#how") Как это работает
						li.nav__item
							a.nav__link(href="#whom") Преимущества
						li.nav__item
							a.nav__link(href="#how-much") Цены
						li.nav__item
							a.nav__link(href="#advantages") О нас
						li.nav__item
							a.nav__link(href="#map") Контакты

			a.header__trigger(href="#menu trigger")
				span.header__trigger-item
				span.header__trigger-item
				span.header__trigger-item
			a.header__phone(href="tel:+73412775920") +7 (3412) 77-59-20

