mixin footer()
	footer.footer
		.footer__container
			a.footer__logo.logo.logo_sec(href="#logo") Диаграмма интернет-агенство
			.footer__contacts.f-contacts
				.f-contacts__item
					span Телефон:
					| +7 (3412) 77-59-20
				.f-contacts__item
					span Адрес:
					| Ижевск, Холмогорова, 17, офис 606
				.f-contacts__item
					span Skype:
					a(href="skype:diagramma.org") diagramma.org
				.f-contacts__item
					span E-mail:
					a(href="skype:diagramma.org") info@diagramma.org

			.footer__cert
