mixin footer()
	footer.footer
		.footer__in.container
			.footer__row.row
				nav.footer__nav.f-nav
					h4.f-nav__title Курсы
					ul.f-nav__list
						li.f-nav__item
							a.f-nav__link(href="#link") Hurma Insider
						li.f-nav__item
							a.f-nav__link(href="#link") Hurma Insider Pro
				nav.footer__nav.f-nav
					h4.f-nav__title Информация
					ul.f-nav__list
						li.f-nav__item
							a.f-nav__link(href="#link") О проекте
						li.f-nav__item
							a.f-nav__link(href="#link") Преподаватели
						li.f-nav__item
							a.f-nav__link(href="#link") Расписание
						li.f-nav__item
							a.f-nav__link(href="#link") Контакты
						li.f-nav__item
							a.f-nav__link(href="#link") Блог

				nav.footer__nav.f-nav
					h4.f-nav__title Формальности
					ul.f-nav__list
						li.f-nav__item
							a.f-nav__link(href="#link") Варианты оплаты
						li.f-nav__item
							a.f-nav__link(href="#link") Договор-оферта
						li.f-nav__item
							a.f-nav__link(href="#link") Конфеденциальность

				nav.footer__nav.f-nav
					h4.f-nav__title Другие проекты
					ul.f-nav__list
						li.f-nav__item
							a.f-nav__link(href="#link") It’s my Bar
						li.f-nav__item
							a.f-nav__link(href="#link") Hurma Recrutment
						li.f-nav__item
							a.f-nav__link(href="#link") Gastreet international Show

			.footer__row.footer__row_bottom.row
				.footer__created-by.created-by Дизайн
					.created-by__logo Brainst



