mixin whom()
	section.whom&attributes(attributes)
		.whom__container
			h2.whom__title.title КОМУ БУДЕТ ПОЛЕЗНА ЭТА УСЛУГА
			ul.whom__list
				li.whom__item.whom__item_1
					.whom__icon
					.whom__text Торговым сетям и магазинам формата «у дома»
				li.whom__item.whom__item_2
					.whom__icon
					.whom__text Сервисным предприятиям
						span (салоны красоты, парикмахерские, химчистки, и т.д.)
				li.whom__item.whom__item_3
					.whom__icon
					.whom__text Предприятиям из сферы общественного питания
				li.whom__item.whom__item_4
					.whom__icon
					.whom__text Фитнес-центрам, спортивным секциям и тренажерным залам
				li.whom__item.whom__item_5
					.whom__icon
					.whom__text Автомобильные услуги
						span (паркинги, шиномонтаж, сервис)
				li.whom__item.whom__item_6
					.whom__icon
					.whom__text Застройщикам жилой недвижимости
						span (для продвижения новостроек на территории районов города)
