.whom
	background-color #f4f7f7
	&__container
		@extends .container
		padding-top 130px
		padding-bottom 0
		text-align center
		+r($m)
			padding-top 70px
	&__title
		margin-bottom 114px
		color #60cbe8
		+r($m)
			margin-bottom 33px
	&__list
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start
	&__item
		position relative
		margin-bottom 136px
		width 33%
		text-align center
		+r($m)
			margin-bottom 50px
			width 49%
	&__item_1
		.whom__icon
			retinaSprite($whom_1_group)
			+r($m)
				retinaSprite($whom_1_small_group)
	&__item_2
		.whom__icon
			retinaSprite($whom_2_group)
			+r($m)
				retinaSprite($whom_2_small_group)
	&__item_3
		.whom__icon
			retinaSprite($whom_3_group)
			+r($m)
				retinaSprite($whom_3_small_group)
	&__item_4
		.whom__icon
			retinaSprite($whom_4_group)
			+r($m)
				retinaSprite($whom_4_small_group)
	&__item_5
		.whom__icon
			retinaSprite($whom_5_group)
			+r($m)
				retinaSprite($whom_5_small_group)
	&__item_6
		.whom__icon
			retinaSprite($whom_6_group)
			+r($m)
				retinaSprite($whom_6_small_group)
	&__icon
		margin auto
		margin-bottom 30px
		+r($m)
			margin-bottom 15px
	&__text
		padding-left 34px
		padding-right 34px
		color #595959
		font-size 18px
		line-height 1.4
		font-weight normal
		+r($m)
			padding-left 0
			padding-right 0
			font-size 11px
		span
			display block
			color #8e8e8e
