mixin how-much()
	section.how-much&attributes(attributes)
		.how-much__container
			h2.how-much__title Сколько это стоит
			dl.how-much__list
				.how-much__item
					dt.how-much__term Настройка
					dd.how-much__desc 3000 руб.
				.how-much__item
					dt.how-much__term Бюджет
					dd.how-much__desc от 10000 руб.
				.how-much__item
					dt.how-much__term Дизайн баннеров
					dd.how-much__desc 3000 руб.

			.how-much__note Указана средняя стоимость услуг из расчета на 1 магазин. Если продвигается несколько точек в разных районах города, то бюджет рассчитывается индивидуально, т.к. зависит от потенциального размера аудитории.
