mixin graduates()
	section.graduates&attributes(attributes)
		.graduates__in.container
			.graduates__row.row
				h2.graduates__title наши выпускники
				ul.graduates__carousel
					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-1.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-2.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-3.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-4.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-5.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-6.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-7.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-1.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»

					li.graduates__item
						.graduates__photo(style="background-image: url('assets/images/content/graduates-img-2.jpg');")
						.graduates__bottom
							.graduates__name Иван Иванов
							.graduates__position Генеральный Директор ресторана «Рога&Copыta»
