mixin where()
	section.where&attributes(attributes)
		.where__container
			.where__w
				h2.where__title Где покажут вашу рекламу
				ul.where__list
					li.where__item
						span В социальных сетях и на видео-площадках
						| (ОК, VK, Fb, Ins, Youtube и т.д.)
					li.where__item
						span На страницах почтовых сервисов
						| (Mail.ru, Яндекс.Почта, Gmail и др.)
					li.where__item
						span На тысячах других сайтов
						| (Авито, Кинопоиск и др.)
					li.where__item В общем, везде, где бывают Ваши клиенты.
			.where__image
				img(src="assets/images/general/where-img.png", alt="")

