mixin how()
	section.how&attributes(attributes)
		.how__container
			h2.how__title.title Как это работает

			.how__text
				p Поисковые системы и социальные сети хранят информацию о местоположении своих пользователей. Оно определяется по геолокации устройства, с помощью которого люди выходят в интернет. Для показа им рекламы достаточно указать радиус вокруг нужного места, и система подберет людей, часто бывающих на выделенной территории.

			.how__w
				.how__example
					.how__example-title Пример глазами клиента:
					ul.how__list
						li.how__item.how__item_1
							span.how__item-text Человек просматривает любимый сайт
							.how__item-icon
						li.how__item.how__item_2
							span.how__item-text Видит на Ваше рекламное объявление.
							.how__item-icon
						li.how__item.how__item_3
							span.how__item-text Кликает по нему и попадает на страницу с подробностями (группу в соцсети или  ваш сайт).
							.how__item-icon
						li.how__item.how__item_4
							span.how__item-text Узнав подробности, приходит в торговую точку или звонит, чтобы заказать услугу.
							.how__item-icon

				.how__image
					img(src="assets/images/content/how-img.png", alt="")

